<footer class="bg-indigo-950 text-slate-300 w-full">
  <div class="container mx-auto py-14 px-6">
    <div class="grid md:grid-cols-12 grid-cols-1 gap-7">
      <div class="lg:col-span-4 col-span-12">
        <a href="/" class="flex items-center">
          <img class="h-12" src="/homosapiens.png" alt=""/>
          <h1 class="ml-4 text-2xl font-bold">Homosapiens</h1>
        </a>
        <p class="mt-6">
          The official website of Colegiul National B.P. Hasdeu's robotics team:  
        </p>
        <p class="mt-1">
          Homosapiens - RO109 | 19053
        </p>
      </div>
      <div class="lg:col-span-2 md:col-span-4 col-span-12">
        <h5 class="tracking-wide font-semibold text-lg">Information</h5>
        <ul class="list-none mt-6 space-y-2">
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              About us
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              Team Records
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              Sponsors
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:col-span-3 md:col-span-4 col-span-12">
        <h5 class="tracking-wide font-semibold text-lg">Important links</h5>
        <ul class="list-none mt-6 space-y-2">
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              Terms and Conditions
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:col-span-3 md:col-span-4 col-span-12">
        <h5 class="tracking-wide font-semibold text-lg">Contact us</h5>
        <ul class="list-none mt-6 space-y-2">
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              <ion-icon name="person"></ion-icon> Contact Page
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              <ion-icon name="logo-facebook"></ion-icon> Facebook
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              <ion-icon name="logo-instagram"></ion-icon> Instagram
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              <ion-icon name="location-sharp"></ion-icon> Location
            </a>
          </li>
          <li>
            <a href="#" class="hover:text-slate-400 transition-all duration-500 ease-in-out">
              <ion-icon name="mail-sharp"></ion-icon> Email
            </a>
          </li>
          <li>
            <ion-icon name="call"></ion-icon> +40 770956840
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr style="width: 98%;" class="p-0.5 h-1 bg-slate-400 rounded-full border-0 mx-auto" />
  <div class="flex items-center justify-between mx-auto mt-2 text-slate-400" style="width: 97%;">
    <span>Copyright © {{ now.Year }} Homosapiens</span>
    <span>Made by Petru Paun with <ion-icon name="heart-sharp"></ion-icon></span>
  </div>
  <br>
</footer>